{% extends "layout/base.html" %}
{% block title %}Chi tiết sản phẩm{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row g-4">
        <!-- Book Image -->
        <div class="col-md-5 col-12">
            <img src="{{ book.image }}" alt="{{ book.name }}" class="img-fluid rounded shadow-sm">
        </div>
        <!-- Book Details -->
        <div class="col-md-7 col-12">
            <h1 class="text-danger fw-bold">{{ book.name }}</h1>
            <h3 class="text-success fw-bold">{{ "{:,.0f}".format(book.price) }} VND</h3>
            <p class="mb-2"><strong>Tác giả:</strong> {{ book.author.name }}</p>
            <p class="mb-2"><strong>Thể loại:</strong> {{ book.category.name }}</p>
        </div>
    </div>
    <div class="mt-4">
        {% if current_user.is_authenticated %}
        <h4>Bình luận</h4>
        <form onsubmit=" event.preventDefault(); addComment({{ book.id }})">
            <div class="mb-3 mt-3">
                <textarea class="form-control" rows="5" id="content" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">
                <i class="fa-solid fa-paper-plane"></i> Gửi
            </button>
        </form>
        {% else %}
        <div><a href="/login?next=/books/{{book.id}}">Đăng nhập</a> để bình luận</div>
        {% endif %}
        <!-- Danh sách bình luận -->
        <ul class="list-group mt-3" id="comment-list">
            {% for comment in book.comments %}
            <li class="list-group-item">
                <div class="d-flex align-items-start">
                    <img src="{{ comment.user.avatar }}" alt="Avatar" class="rounded-circle me-3"
                         style="width: 50px; height: 50px; object-fit: cover;">
                    <div>
                        <h6 class="fw-bold mb-1">{{ comment.user.name }}</h6>
                        <p class="mb-1">{{ comment.content }}</p>
                        <small class="text-muted created_at">{{ comment.created_at }}</small>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
<script src="{{ url_for('static', filename='js/comment.js') }}"></script>
<script>
    window.onload = function () {
        let dates = document.getElementsByClassName('created_at')
        for (let d of dates)
            d.innerText = moment(d.innerText).locale('vi').fromNow()
    }
</script>
{% endblock %}
{% endblock %}
