{% extends 'admin/master.html' %}
{% block body %}
{% if current_user.is_authenticated %}
<h1 class="text-warning">Chào mừng {{current_user.name}}</h1>
{% if current_user.user_role != UserRoleEnum.ADMIN %}
<h1 class="text-warning">Bạn không phải Admin. Bạn sẽ không thể truy cập các chức năng quản trị.</h1>
{% endif %}
{% else %}
<h1>Trang quản trị</h1>
<form action="/login-admin" method="post">
    <div class="form-group mb-3 mt-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
               pattern="[a-zA-Z0-9]*" required>
    </div>
    <div class="form-group mt-3 mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <button class="btn btn-success" type="submit">Đăng nhập</button>
</form>
{% endif %}
{% endblock %}